<footer class="footer">
  <div class="container footer-container">
    <p class="copyright__text">&copy; 2023 - News. All Rights Reserved.</p>
    <div class="social">
      <ul class="social__list">
        <li class="social__item">
          <a
            href="https://github.com/Ani-k-a"
            class="social__link fa-brands fa-github"
            target="_blank"
            rel="noreferrer noopener"
          >
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.linkedin.com/in/hanna-lytvynenko/"
            class="social__link fa-brands fa-linkedin"
            target="_blank"
            rel="noreferrer noopener"
          >
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
