<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo header__logo"> News </a>
    <nav class="nav header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link header-nav__link-main" href="./index.html"
            >Home</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="./favorite.html">Favorite</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="./read.html">Read</a>
        </li>
      </ul>
    </nav>
    <form class="header-form">
      <input type="text" placeholder="Search" class="header-form__input" />
      <button class="header-form__btn fa-solid fa-magnifying-glass"></button>
    </form>

    <div class="theme">
      <div class="theme__icon light accent-icons">
        <i class="fa-regular fa-sun light accent-icons"></i>
      </div>
      <p class="theme__title light accent-icons">Light</p>

      <label class="theme__lable">
        <input type="checkbox" class="theme__checkbox" />
        <span class="theme__thumbler"></span>
      </label>
      <p class="theme__title dark">Dark</p>
      <div class="theme__icon dark">
        <i class="fa-regular fa-moon dark"></i>
      </div>
    </div>
  </div>
</header>
