<section>
  <div class="container search-container">
    <div class="search-tools">
      <ul class="search-tools__list">
        <li class="search-tools__item">
          <button class="search-tools__btn">Admin</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Arts</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Automobiles</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Books</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Briefing</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Business</button>
        </li>
        <li class="search-tools__item">
          <button class="search-tools__btn">Business<span></span></button>
          <ul></ul>
        </li>
      </ul>
    </div>
  </div>
</section>
